{% extends 'image/base.html' %}
{% load staticfiles %}

{% block body %}
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="heading">
                <h2>Upload a image file</h2>
            </div>

            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <input type="file" class="form-control-file border" name="uploaded_image" accept="image/x-png,image/jpeg">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            {% if images %}
                <br />
                <div class="col-md-12 col-lg-12 item">
                    <a class="lightbox" href="{{ images.first.image_link.url }}">
                        <img class="img-fluid image scale-on-hover mx-auto d-block" src="{{ images.first.image_link.url }}">
                    </a>
                </div>
                <br />
                <div class="heading">
                    <h2>Similar images</h2>
                </div>
                <div class="row">
                    {% for image in images %}
                        {% if forloop.first %}
                        {% else %}
                            <div class="col-md-6 col-lg-4 item">
                                <a class="lightbox" href="{{ image.image_link.url }}">
                                    <img class="img-fluid image scale-on-hover" src="{{ image.image_link.url }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock body %}
